* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
}

/* Header Start */

.header-web {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(35, 35, 35);
    color: #c9c9c9
}

.header-logo {
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.header-ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.header-ul li {
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
}

/*Header End*/

.web-content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    position: absolute;
    left: 5%;
    background-color: #c9c9c9;
    height: 100px;
}

